@font-face {
  font-family: 'sao-glyphs';
  src:  url('fonts/sao-glyphs.eot?6308bh');
  src:  url('fonts/sao-glyphs.eot?6308bh#iefix') format('embedded-opentype'),
    url('fonts/sao-glyphs.ttf?6308bh') format('truetype'),
    url('fonts/sao-glyphs.woff?6308bh') format('woff'),
    url('fonts/sao-glyphs.svg?6308bh#sao-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sao-glyphs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sao-btn-alert:before {
  content: "\e900";
}
.sao-btn-armor:before {
  content: "\e901";
}
.sao-btn-avatar:before {
  content: "\e902";
}
.sao-btn-battle-healing:before {
  content: "\e903";
}
.sao-btn-before:before {
  content: "\e904";
}
.sao-btn-belt:before {
  content: "\e905";
}
.sao-btn-blade:before {
  content: "\e906";
}
.sao-btn-blade-dual:before {
  content: "\e907";
}
.sao-btn-blade-parrying:before {
  content: "\e908";
}
.sao-btn-blade-throwing:before {
  content: "\e909";
}
.sao-btn-brightness:before {
  content: "\e90a";
}
.sao-btn-calendar:before {
  content: "\e90b";
}
.sao-btn-cancel:before {
  content: "\e90c";
}
.sao-btn-clock:before {
  content: "\e90d";
}
.sao-btn-confirm:before {
  content: "\e90e";
}
.sao-btn-contrast:before {
  content: "\e90f";
}
.sao-btn-correct:before {
  content: "\e910";
}
.sao-btn-cross:before {
  content: "\e911";
}
.sao-btn-details:before {
  content: "\e912";
}
.sao-btn-dices:before {
  content: "\e913";
}
.sao-btn-dungeon:before {
  content: "\e914";
}
.sao-btn-elemental-air:before {
  content: "\e915";
}
.sao-btn-elemental-earth:before {
  content: "\e916";
}
.sao-btn-elemental-fire:before {
  content: "\e917";
}
.sao-btn-elemental-nature:before {
  content: "\e918";
}
.sao-btn-elemental-void:before {
  content: "\e919";
}
.sao-btn-elemental-water:before {
  content: "\e91a";
}
.sao-btn-equipament:before {
  content: "\e91b";
}
.sao-btn-evil:before {
  content: "\e91c";
}
.sao-btn-exclamation:before {
  content: "\e91d";
}
.sao-btn-foward:before {
  content: "\e91e";
}
.sao-btn-friend-add:before {
  content: "\e91f";
}
.sao-btn-friend-remove:before {
  content: "\e920";
}
.sao-btn-gps:before {
  content: "\e921";
}
.sao-btn-group:before {
  content: "\e922";
}
.sao-btn-guild:before {
  content: "\e923";
}
.sao-btn-heart:before {
  content: "\e924";
}
.sao-btn-help:before {
  content: "\e925";
}
.sao-btn-info:before {
  content: "\e926";
}
.sao-btn-invite:before {
  content: "\e927";
}
.sao-btn-itens:before {
  content: "\e928";
}
.sao-btn-life-status:before {
  content: "\e929";
}
.sao-btn-list:before {
  content: "\e92a";
}
.sao-btn-list-down:before {
  content: "\e92b";
}
.sao-btn-list-up:before {
  content: "\e92c";
}
.sao-btn-loading:before {
  content: "\e92d";
}
.sao-btn-logout:before {
  content: "\e92e";
}
.sao-btn-mail:before {
  content: "\e92f";
}
.sao-btn-mail-open:before {
  content: "\e930";
}
.sao-btn-map:before {
  content: "\e931";
}
.sao-btn-message:before {
  content: "\e932";
}
.sao-btn-mic:before {
  content: "\e933";
}
.sao-btn-mic-muted:before {
  content: "\e934";
}
.sao-btn-mic-volume-down:before {
  content: "\e935";
}
.sao-btn-mic-volume-up:before {
  content: "\e936";
}
.sao-btn-minus:before {
  content: "\e937";
}
.sao-btn-necklace:before {
  content: "\e938";
}
.sao-btn-next:before {
  content: "\e939";
}
.sao-btn-options:before {
  content: "\e93a";
}
.sao-btn-party:before {
  content: "\e93b";
}
.sao-btn-plus:before {
  content: "\e93c";
}
.sao-btn-power:before {
  content: "\e93d";
}
.sao-btn-quest:before {
  content: "\e93e";
}
.sao-btn-question:before {
  content: "\e93f";
}
.sao-btn-radar:before {
  content: "\e940";
}
.sao-btn-reverse:before {
  content: "\e941";
}
.sao-btn-ring:before {
  content: "\e942";
}
.sao-btn-settings:before {
  content: "\e943";
}
.sao-btn-share:before {
  content: "\e944";
}
.sao-btn-shield:before {
  content: "\e945";
}
.sao-btn-signal:before {
  content: "\e946";
}
.sao-btn-skill:before {
  content: "\e947";
}
.sao-btn-social-android:before {
  content: "\e948";
}
.sao-btn-social-delicius:before {
  content: "\e949";
}
.sao-btn-social-deviantart:before {
  content: "\e94a";
}
.sao-btn-social-facebook:before {
  content: "\e94b";
}
.sao-btn-social-flickr:before {
  content: "\e94c";
}
.sao-btn-social-google:before {
  content: "\e94d";
}
.sao-btn-social-googledrive:before {
  content: "\e94e";
}
.sao-btn-social-googleplay:before {
  content: "\e94f";
}
.sao-btn-social-googleplus:before {
  content: "\e950";
}
.sao-btn-social-hangouts:before {
  content: "\e951";
}
.sao-btn-social-line:before {
  content: "\e952";
}
.sao-btn-social-netflix:before {
  content: "\e953";
}
.sao-btn-social-playstation:before {
  content: "\e954";
}
.sao-btn-social-podcasts:before {
  content: "\e955";
}
.sao-btn-social-skype:before {
  content: "\e956";
}
.sao-btn-social-spotify:before {
  content: "\e957";
}
.sao-btn-social-twitter:before {
  content: "\e958";
}
.sao-btn-social-vine:before {
  content: "\e959";
}
.sao-btn-social-whatsapp:before {
  content: "\e95a";
}
.sao-btn-social-wikipedia:before {
  content: "\e95b";
}
.sao-btn-social-windows:before {
  content: "\e95c";
}
.sao-btn-social-xbox:before {
  content: "\e95d";
}
.sao-btn-social-youtube:before {
  content: "\e95e";
}
.sao-btn-start:before {
  content: "\e95f";
}
.sao-btn-statistic-columns:before {
  content: "\e960";
}
.sao-btn-status-bar2:before {
  content: "\e961";
}
.sao-btn-stop:before {
  content: "\e962";
}
.sao-btn-target:before {
  content: "\e963";
}
.sao-btn-text-align-center:before {
  content: "\e964";
}
.sao-btn-text-align-justify:before {
  content: "\e965";
}
.sao-btn-text-align-left:before {
  content: "\e966";
}
.sao-btn-text-align-right:before {
  content: "\e967";
}
.sao-btn-timer:before {
  content: "\e968";
}
.sao-btn-tracking:before {
  content: "\e969";
}
.sao-btn-volume-down:before {
  content: "\e96a";
}
.sao-btn-volume-mute:before {
  content: "\e96b";
}
.sao-btn-volume-up:before {
  content: "\e96c";
}
.sao-btn-zoom-in:before {
  content: "\e96d";
}
.sao-btn-zoom-out:before {
  content: "\e96e";
}
.sao-icon-alert:before {
  content: "\e96f";
}
.sao-icon-armor:before {
  content: "\e970";
}
.sao-icon-avatar:before {
  content: "\e971";
}
.sao-icon-battle-healing:before {
  content: "\e972";
}
.sao-icon-before:before {
  content: "\e973";
}
.sao-icon-belt:before {
  content: "\e974";
}
.sao-icon-blade:before {
  content: "\e975";
}
.sao-icon-blade-dual:before {
  content: "\e976";
}
.sao-icon-blade-parrying:before {
  content: "\e977";
}
.sao-icon-blade-throwing:before {
  content: "\e978";
}
.sao-icon-brightness:before {
  content: "\e979";
}
.sao-icon-calendar:before {
  content: "\e97a";
}
.sao-icon-cancel:before {
  content: "\e97b";
}
.sao-icon-clock:before {
  content: "\e97c";
}
.sao-icon-confirm:before {
  content: "\e97d";
}
.sao-icon-contrast:before {
  content: "\e97e";
}
.sao-icon-correct:before {
  content: "\e97f";
}
.sao-icon-cross:before {
  content: "\e980";
}
.sao-icon-details:before {
  content: "\e981";
}
.sao-icon-dices:before {
  content: "\e982";
}
.sao-icon-dungeon:before {
  content: "\e983";
}
.sao-icon-elemental-air:before {
  content: "\e984";
}
.sao-icon-elemental-earth:before {
  content: "\e985";
}
.sao-icon-elemental-fire:before {
  content: "\e986";
}
.sao-icon-elemental-nature:before {
  content: "\e987";
}
.sao-icon-elemental-void:before {
  content: "\e988";
}
.sao-icon-elemental-water:before {
  content: "\e989";
}
.sao-icon-equipament:before {
  content: "\e98a";
}
.sao-icon-evil:before {
  content: "\e98b";
}
.sao-icon-exclamation:before {
  content: "\e98c";
}
.sao-icon-foward:before {
  content: "\e98d";
}
.sao-icon-friend-add:before {
  content: "\e98e";
}
.sao-icon-friend-remove:before {
  content: "\e98f";
}
.sao-icon-gps:before {
  content: "\e990";
}
.sao-icon-group:before {
  content: "\e991";
}
.sao-icon-guild:before {
  content: "\e992";
}
.sao-icon-heart:before {
  content: "\e993";
}
.sao-icon-help:before {
  content: "\e994";
}
.sao-icon-info:before {
  content: "\e995";
}
.sao-icon-invite:before {
  content: "\e996";
}
.sao-icon-itens:before {
  content: "\e997";
}
.sao-icon-life-status:before {
  content: "\e998";
}
.sao-icon-list:before {
  content: "\e999";
}
.sao-icon-list-down:before {
  content: "\e99a";
}
.sao-icon-list-up:before {
  content: "\e99b";
}
.sao-icon-loading:before {
  content: "\e99c";
}
.sao-icon-logout:before {
  content: "\e99d";
}
.sao-icon-mail:before {
  content: "\e99e";
}
.sao-icon-mail-open:before {
  content: "\e99f";
}
.sao-icon-map:before {
  content: "\e9a0";
}
.sao-icon-message:before {
  content: "\e9a1";
}
.sao-icon-mic:before {
  content: "\e9a2";
}
.sao-icon-mic-muted:before {
  content: "\e9a3";
}
.sao-icon-mic-volume-down:before {
  content: "\e9a4";
}
.sao-icon-mic-volume-up:before {
  content: "\e9a5";
}
.sao-icon-minus:before {
  content: "\e9a6";
}
.sao-icon-necklace:before {
  content: "\e9a7";
}
.sao-icon-next:before {
  content: "\e9a8";
}
.sao-icon-options:before {
  content: "\e9a9";
}
.sao-icon-party:before {
  content: "\e9aa";
}
.sao-icon-plus:before {
  content: "\e9ab";
}
.sao-icon-power:before {
  content: "\e9ac";
}
.sao-icon-quest:before {
  content: "\e9ad";
}
.sao-icon-question:before {
  content: "\e9ae";
}
.sao-icon-radar:before {
  content: "\e9af";
}
.sao-icon-reverse:before {
  content: "\e9b0";
}
.sao-icon-ring:before {
  content: "\e9b1";
}
.sao-icon-settings:before {
  content: "\e9b2";
}
.sao-icon-share:before {
  content: "\e9b3";
}
.sao-icon-shield:before {
  content: "\e9b4";
}
.sao-icon-signal:before {
  content: "\e9b5";
}
.sao-icon-skill:before {
  content: "\e9b6";
}
.sao-icon-social-android:before {
  content: "\e9b7";
}
.sao-icon-social-delicius:before {
  content: "\e9b8";
}
.sao-icon-social-deviantart:before {
  content: "\e9b9";
}
.sao-icon-social-facebook:before {
  content: "\e9ba";
}
.sao-icon-social-flickr:before {
  content: "\e9bb";
}
.sao-icon-social-google:before {
  content: "\e9bc";
}
.sao-icon-social-googledrive:before {
  content: "\e9bd";
}
.sao-icon-social-googleplay:before {
  content: "\e9be";
}
.sao-icon-social-googleplus:before {
  content: "\e9bf";
}
.sao-icon-social-hangouts:before {
  content: "\e9c0";
}
.sao-icon-social-line:before {
  content: "\e9c1";
}
.sao-icon-social-netflix:before {
  content: "\e9c2";
}
.sao-icon-social-playstation:before {
  content: "\e9c3";
}
.sao-icon-social-podcasts:before {
  content: "\e9c4";
}
.sao-icon-social-skype:before {
  content: "\e9c5";
}
.sao-icon-social-spotify:before {
  content: "\e9c6";
}
.sao-icon-social-twitter:before {
  content: "\e9c7";
}
.sao-icon-social-vine:before {
  content: "\e9c8";
}
.sao-icon-social-whatsapp:before {
  content: "\e9c9";
}
.sao-icon-social-wikipedia:before {
  content: "\e9ca";
}
.sao-icon-social-windows:before {
  content: "\e9cb";
}
.sao-icon-social-xbox:before {
  content: "\e9cc";
}
.sao-icon-social-youtube:before {
  content: "\e9cd";
}
.sao-icon-start:before {
  content: "\e9ce";
}
.sao-icon-statistic-columns:before {
  content: "\e9cf";
}
.sao-icon-status-bar2:before {
  content: "\e9d0";
}
.sao-icon-stop:before {
  content: "\e9d1";
}
.sao-icon-target:before {
  content: "\e9d2";
}
.sao-icon-text-align-center:before {
  content: "\e9d3";
}
.sao-icon-text-align-justify:before {
  content: "\e9d4";
}
.sao-icon-text-align-left:before {
  content: "\e9d5";
}
.sao-icon-text-align-right:before {
  content: "\e9d6";
}
.sao-icon-timer:before {
  content: "\e9d7";
}
.sao-icon-tracking:before {
  content: "\e9d8";
}
.sao-icon-volume-down:before {
  content: "\e9d9";
}
.sao-icon-volume-mute:before {
  content: "\e9da";
}
.sao-icon-volume-up:before {
  content: "\e9db";
}
.sao-icon-zoom-in:before {
  content: "\e9dc";
}
.sao-icon-zoom-out:before {
  content: "\e9dd";
}
.sao-ring-avatar:before {
  content: "\e9de";
}
.sao-ring-cancel:before {
  content: "\e9df";
}
.sao-ring-confirm:before {
  content: "\e9e0";
}
.sao-ring-gps:before {
  content: "\e9e1";
}
.sao-ring-group:before {
  content: "\e9e2";
}
.sao-ring-itens:before {
  content: "\e9e3";
}
.sao-ring-message:before {
  content: "\e9e4";
}
.sao-ring-settings:before {
  content: "\e9e5";
}

