@font-face {
  font-family: 'sao-glyphs';
  src: url('fonts/sao-glyphs.eot?kn1eha');
  src: url('fonts/sao-glyphs.eot?kn1eha#iefix') format('embedded-opentype'), url('fonts/sao-glyphs.ttf?kn1eha') format('truetype'), url('fonts/sao-glyphs.woff?kn1eha') format('woff'), url('fonts/sao-glyphs.svg?kn1eha#sao-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  float: left;
  font-family: 'sao-glyphs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-armor:before {
  content: "\e900";
}
.btn-avatar:before {
  content: "\e901";
}
.btn-blade:before {
  content: "\e902";
}
.btn-blade-dual:before {
  content: "\e903";
}
.btn-blade-parrying:before {
  content: "\e904";
}
.btn-blade-thowing:before {
  content: "\e905";
}
.btn-cancel:before {
  content: "\e906";
}
.btn-cancel-extrude:before {
  content: "\e907";
}
.btn-checked:before {
  content: "\e908";
}
.btn-close:before {
  content: "\e909";
}
.btn-config:before {
  content: "\e90a";
}
.btn-confirm:before {
  content: "\e90b";
}
.btn-confirm-extrude:before {
  content: "\e90c";
}
.btn-details:before {
  content: "\e90d";
}
.btn-dungeon:before {
  content: "\e90e";
}
.btn-empty:before {
  content: "\e90f";
}
.btn-equipment:before {
  content: "\e910";
}
.btn-exclamation:before {
  content: "\e911";
}
.btn-foward:before {
  content: "\e912";
}
.btn-friend-add:before {
  content: "\e913";
}
.btn-friend-remove:before {
  content: "\e914";
}
.btn-group:before {
  content: "\e915";
}
.btn-guild:before {
  content: "\e916";
}
.btn-healing-battle:before {
  content: "\e917";
}
.btn-help:before {
  content: "\e918";
}
.btn-invite:before {
  content: "\e919";
}
.btn-itens:before {
  content: "\e91a";
}
.btn-list:before {
  content: "\e91b";
}
.btn-logout:before {
  content: "\e91c";
}
.btn-map:before {
  content: "\e91d";
}
.btn-map-gps:before {
  content: "\e91e";
}
.btn-message:before {
  content: "\e91f";
}
.btn-minus:before {
  content: "\e920";
}
.btn-necklace:before {
  content: "\e921";
}
.btn-options:before {
  content: "\e922";
}
.btn-party:before {
  content: "\e923";
}
.btn-paused:before {
  content: "\e924";
}
.btn-plus:before {
  content: "\e925";
}
.btn-quest:before {
  content: "\e926";
}
.btn-question:before {
  content: "\e927";
}
.btn-radar:before {
  content: "\e928";
}
.btn-raid:before {
  content: "\e929";
}
.btn-reverse:before {
  content: "\e92a";
}
.btn-ringed-armor:before {
  content: "\e92b";
}
.btn-ringed-avatar:before {
  content: "\e92c";
}
.btn-ringed-blade:before {
  content: "\e92d";
}
.btn-ringed-blade-dual:before {
  content: "\e92e";
}
.btn-ringed-blade-parrying:before {
  content: "\e92f";
}
.btn-ringed-blade-thowing:before {
  content: "\e930";
}
.btn-ringed-cancel:before {
  content: "\e931";
}
.btn-ringed-cancel-extrude:before {
  content: "\e932";
}
.btn-ringed-checked:before {
  content: "\e933";
}
.btn-ringed-close:before {
  content: "\e934";
}
.btn-ringed-config:before {
  content: "\e935";
}
.btn-ringed-confirm:before {
  content: "\e936";
}
.btn-ringed-confirm-extrude:before {
  content: "\e937";
}
.btn-ringed-details:before {
  content: "\e938";
}
.btn-ringed-dungeon:before {
  content: "\e939";
}
.btn-ringed-empty:before {
  content: "\e93a";
}
.btn-ringed-equipment:before {
  content: "\e93b";
}
.btn-ringed-exclamation:before {
  content: "\e93c";
}
.btn-ringed-foward:before {
  content: "\e93d";
}
.btn-ringed-friend-add:before {
  content: "\e93e";
}
.btn-ringed-friend-remove:before {
  content: "\e93f";
}
.btn-ringed-group:before {
  content: "\e940";
}
.btn-ringed-guild:before {
  content: "\e941";
}
.btn-ringed-healing-battle:before {
  content: "\e942";
}
.btn-ringed-help:before {
  content: "\e943";
}
.btn-ringed-invite:before {
  content: "\e944";
}
.btn-ringed-itens:before {
  content: "\e945";
}
.btn-ringed-list:before {
  content: "\e946";
}
.btn-ringed-logout:before {
  content: "\e947";
}
.btn-ringed-map:before {
  content: "\e948";
}
.btn-ringed-map-gps:before {
  content: "\e949";
}
.btn-ringed-message:before {
  content: "\e94a";
}
.btn-ringed-minus:before {
  content: "\e94b";
}
.btn-ringed-necklace:before {
  content: "\e94c";
}
.btn-ringed-options:before {
  content: "\e94d";
}
.btn-ringed-party:before {
  content: "\e94e";
}
.btn-ringed-pause:before {
  content: "\e94f";
}
.btn-ringed-plus:before {
  content: "\e950";
}
.btn-ringed-quest:before {
  content: "\e951";
}
.btn-ringed-question:before {
  content: "\e952";
}
.btn-ringed-radar:before {
  content: "\e953";
}
.btn-ringed-raid:before {
  content: "\e954";
}
.btn-ringed-reverse:before {
  content: "\e955";
}
.btn-ringed-shirt:before {
  content: "\e956";
}
.btn-ringed-signal:before {
  content: "\e957";
}
.btn-ringed-skill:before {
  content: "\e958";
}
.btn-ringed-start:before {
  content: "\e959";
}
.btn-ringed-stop:before {
  content: "\e95a";
}
.btn-ringed-tracking:before {
  content: "\e95b";
}
.btn-ringed-zoom-in:before {
  content: "\e95c";
}
.btn-ringed-zoom-out:before {
  content: "\e95d";
}
.btn-shirt:before {
  content: "\e95e";
}
.btn-signal:before {
  content: "\e95f";
}
.btn-skill:before {
  content: "\e960";
}
.btn-start:before {
  content: "\e961";
}
.btn-stop:before {
  content: "\e962";
}
.btn-tracking:before {
  content: "\e963";
}
.btn-zoom-in:before {
  content: "\e964";
}
.btn-zoom-out:before {
  content: "\e965";
}
.icon-armor:before {
  content: "\e966";
}
.icon-avatar:before {
  content: "\e967";
}
.icon-blade:before {
  content: "\e968";
}
.icon-blade-dual:before {
  content: "\e969";
}
.icon-blade-parrying:before {
  content: "\e96a";
}
.icon-blade-throwing:before {
  content: "\e96b";
}
.icon-cancel:before {
  content: "\e96c";
}
.icon-checked:before {
  content: "\e96d";
}
.icon-close:before {
  content: "\e96e";
}
.icon-config:before {
  content: "\e96f";
}
.icon-confirm:before {
  content: "\e970";
}
.icon-details:before {
  content: "\e971";
}
.icon-dungeon:before {
  content: "\e972";
}
.icon-empty:before {
  content: "\e973";
}
.icon-equipment:before {
  content: "\e974";
}
.icon-exclamation:before {
  content: "\e975";
}
.icon-foward:before {
  content: "\e976";
}
.icon-friend-add:before {
  content: "\e977";
}
.icon-friend-remove:before {
  content: "\e978";
}
.icon-group:before {
  content: "\e979";
}
.icon-guild:before {
  content: "\e97a";
}
.icon-healing-battle:before {
  content: "\e97b";
}
.icon-help:before {
  content: "\e97c";
}
.icon-invite:before {
  content: "\e97d";
}
.icon-itens:before {
  content: "\e97e";
}
.icon-list:before {
  content: "\e97f";
}
.icon-logout:before {
  content: "\e980";
}
.icon-map:before {
  content: "\e981";
}
.icon-map-gps:before {
  content: "\e982";
}
.icon-message:before {
  content: "\e983";
}
.icon-minus:before {
  content: "\e984";
}
.icon-necklace:before {
  content: "\e985";
}
.icon-options:before {
  content: "\e986";
}
.icon-party:before {
  content: "\e987";
}
.icon-paused:before {
  content: "\e988";
}
.icon-plus:before {
  content: "\e989";
}
.icon-quest:before {
  content: "\e98a";
}
.icon-question:before {
  content: "\e98b";
}
.icon-radar:before {
  content: "\e98c";
}
.icon-raid:before {
  content: "\e98d";
}
.icon-reverse:before {
  content: "\e98e";
}
.icon-signal:before {
  content: "\e98f";
}
.icon-skill:before {
  content: "\e990";
}
.icon-start:before {
  content: "\e991";
}
.icon-status-bar2:before {
  content: "\e992";
}
.icon-stop:before {
  content: "\e993";
}
.icon-tracking:before {
  content: "\e994";
}
.icon-zoom-in:before {
  content: "\e995";
}
.icon-zoom-out:before {
  content: "\e996";
}
/*# sourceMappingURL=style.css.map */